@model CreateLoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MultiShop Login Sayfası</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
	<style>
		.account {
			background: #3786BD !important;
			border: 1px solid #489BC1 !important;
			border-top-left-radius: 5px;
			border-bottom-right-radius: 5px;
			padding: .5rem .5rem;
			margin-top: .3rem;
			text-decoration: none;
			color: #fff !important;
		}

			.account:hover {
				background: #4687b5 !important;
			}
	</style>
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>MultiShop E-Ticaret</h2>
				<p class="text-1">Kayıtlı kullanıcıların MultiShop hesaplarına giriş yapmaları için tasarlanmış bir sayfadır. Kullanıcı adı veya e-posta ve şifre bilgileri doğrulanarak hesaplara erişim sağlanır. "Beni Hatırla" özelliği, kullanıcı deneyimini iyileştirir. Şifre unutulursa, hızlı bir şekilde sıfırlama işlemi yapılabilir. Kullanıcı verileri, güçlü güvenlik önlemleriyle korunur. Başarılı giriş sonrası kullanıcılar, hesaplarını yönetebilir ve alışveriş yapmaya devam edebilir.</p>
				<p class="text-2">MultiShop hesabınıza kolayca erişim sağlayabileceğiniz güvenli bir platformdur. Kullanıcı dostu tasarımı sayesinde hızlı giriş imkânı sunar. Hesabınıza eriştikten sonra siparişlerinizi takip edebilir, favorilerinize ulaşabilir ve alışverişinize kaldığınız yerden devam edebilirsiniz.</p>
				<div class="form-row-last">
					<a class="account" href="/Register/Index/">Kayıt Ol</a>
				</div>
			</div>
			<form class="form-detail" method="post">
				<h2>MultiShop Giriş Formu</h2>
				<div class="form-row">
					<label for="your_username">Kullanıcı Adınız</label>
					<input type="text" asp-for="Username" id="your_username" class="input-text">
				</div>
				<div class="form-row form-row-1 ">
					<label for="password">Şifre</label>
					<input type="password" asp-for="Password" id="password" class="input-text" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Giriş Yap">
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>