
@{
    Layout = null;
}
<div class="container">
    <br /><br />
    <h3>Dolar Alış: @ViewBag.exchangeRateUsd - Dolar Satış: @ViewBag.previousCloseUsd</h3>
    <h3>Euro Alış: @ViewBag.exchangeRateEuro - Euro Satış: @ViewBag.previousCloseEuro</h3>
</div>